<html>
<head>
  <style>
    .login {
    display: none;
    }
    .content {
    display: block;
    }
    <!--table, th, td {
    border: 1px solid black;
    }-->
    table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    }
    table tr:nth-child(odd) {
    background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
    background-color: #ffffff;
    }
  </style>
</head>
<body>
  <p class="logout" style="text-align:right"> <a href="#/login"> Logout </a> </p>
  <h2> Welcome, {{name}} </h2>
  <p> Click on a book to view its information. </p>
  <br>
  
  <table> 
    <th> <h3>Literature</h3></th>
    <th> <h3>Science</h3></th>
    <th> <h3>Sport</h3></th>
    <th> <h3>Art</h3></th>
    <tr ng-if="$index%4==0" ng-repeat="book in books track by $index">
      <td data-ng-click="clicked($index)"> {{books[$index].name}} </td>
      <td data-ng-click="clicked($index+1)"> {{books[$index+1].name}} </td>
      <td data-ng-click="clicked($index+2)"> {{books[$index+2].name}} </td>
      <td data-ng-click="clicked($index+3)"> {{books[$index+3].name}} </td>
    </tr>
  </table>
  </br>
  <h3> New Book: </h3>
  <p> Book name: <input type="text" placeholder="Name" ng-model="newBook.name"/> </p>
  <p> Shelf:
    <select ng-model="newBook.shelf">
      <option value=""> --select-- </option>
      <option value="literature"> Literature </option>
      <option value="science"> Science </option>
      <option value="sport"> Sport </option>
      <option value="art"> Art </option>
    </select>
  </p>
  <p> Check if reference book
    <input type="checkbox" ng-model="newBook.reference" value="0"/>
  </p>
  <p> <button type="button" ng-click="addNewBook();"> Add book </button> </p>
</body>
</html>